Repository ZeweiLi999/Large_Model_From_None, pull requests merged in 2024-12, with the labels that each got.

#22 [VirtualAssistant]添加了VirtualAssistant的前端设计
  VirtualAssistant/.gitattributes
  VirtualAssistant/.gitignore
  VirtualAssistant/.idea/.gitignore
  VirtualAssistant/.idea/LLM.iml
  VirtualAssistant/.idea/dbnavigator.xml
  VirtualAssistant/.idea/inspectionProfiles/Project_Default.xml
  VirtualAssistant/.idea/inspectionProfiles/profiles_settings.xml
  VirtualAssistant/.idea/misc.xml
  VirtualAssistant/.idea/modules.xml
  VirtualAssistant/HomePages.py
  VirtualAssistant/Pages/BeginChats.py
  VirtualAssistant/Pages/Explore.py
  VirtualAssistant/Pages/GetVisualization.py
  VirtualAssistant/Pages/UploadFiles.py
  VirtualAssistant/README.md
Labels: VirsualAssistant

#23 [documentation]Update README.md
  README.md
Labels: documentation

#24 [LearnTorch]Step30 -->> Step34
  LearnTorch_ALL/LearnTorch/Functions.py
  LearnTorch_ALL/LearnTorch/VariableFunction.py
  LearnTorch_ALL/LearnTorch/__pycache__/Functions.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/VariableFunction.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/__init__.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/utils.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/utils.py
  LearnTorch_ALL/TeachImage/CGMap/goldsteinAll.dot
  LearnTorch_ALL/TeachImage/CGMap/goldsteinBackward.dot
  LearnTorch_ALL/TeachImage/CGMap/goldsteinForward.dot
  LearnTorch_ALL/TeachImage/CGMap/goldstein_All.png
  LearnTorch_ALL/TeachImage/CGMap/goldstein_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/goldstein_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/matyasAll.dot
  LearnTorch_ALL/TeachImage/CGMap/matyasBackward.dot
  LearnTorch_ALL/TeachImage/CGMap/matyasForward.dot
  LearnTorch_ALL/TeachImage/CGMap/matyas_All.png
  LearnTorch_ALL/TeachImage/CGMap/matyas_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/matyas_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/sphereAll.dot
  LearnTorch_ALL/TeachImage/CGMap/sphereBackward.dot
  LearnTorch_ALL/TeachImage/CGMap/sphereForward.dot
  LearnTorch_ALL/TeachImage/CGMap/sphere_All.png
  LearnTorch_ALL/TeachImage/CGMap/sphere_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/sphere_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/taylorsinAll.dot
  LearnTorch_ALL/TeachImage/CGMap/taylorsinBackward.dot
  LearnTorch_ALL/TeachImage/CGMap/taylorsinForward.dot
  LearnTorch_ALL/TeachImage/CGMap/taylorsin_All.png
  LearnTorch_ALL/TeachImage/CGMap/taylorsin_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/taylorsin_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/test.dot
  LearnTorch_ALL/TeachImage/Grad/0_10_yx4.png
  LearnTorch_ALL/TeachImage/Grad/0_2pi_singrad.png
  LearnTorch_ALL/TeachImage/ShowGradGraph.py
  LearnTorch_ALL/TeachImage/ShowNewTon.py
  LearnTorch_ALL/TeachImage/ShowPow.py
  LearnTorch_ALL/TeachImage/ShowSinGrad.py
  LearnTorch_ALL/Test/TestAddMul.py
  LearnTorch_ALL/Test/TestDoubleBackward.py
  LearnTorch_ALL/Test/TestGetDotGraph.py
  LearnTorch_ALL/Test/TestSinCos.py
  LearnTorch_ALL/Test/__pycache__/Numberical_diff.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestUnit2.cpython-39.pyc
  README.md
  VirtualAssistant/images/创建助手.png
  imgs/img_title-removebg.png
Labels: documentation, LearnTorch

#25 [LearnTorch]Step34 -->> Step36
  LearnTorch_ALL/LearnTorch/Functions.py
  LearnTorch_ALL/LearnTorch/__pycache__/Functions.cpython-39.pyc
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1All.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1Backward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1Forward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1_All.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_1_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2All.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2Backward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2Forward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2_All.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_2_Forward.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3All.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3Backward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3Forward.dot
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3_All.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3_Backward.png
  LearnTorch_ALL/TeachImage/CGMap/ShowTanh_3_Forward.png
  LearnTorch_ALL/TeachImage/ShowHighGradGraph.py
  LearnTorch_ALL/Test/TestDoubleBackward.py
  LearnTorch_ALL/Test/TestGeneration.py
  LearnTorch_ALL/Test/TestSinCos.py
  LearnTorch_ALL/Test/TestUnit1.py
  LearnTorch_ALL/Test/TestUnit2.py
  LearnTorch_ALL/Test/__pycache__/TestAddMul.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestBackward.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestDoubleBackward.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestFunction.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestGeneration.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestRrosenbrock.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestSinCos.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestSubNeg.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestUnit1.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/TestUnit2.cpython-39.pyc
  LearnTorch_ALL/Test/__pycache__/test.cpython-39.pyc
  LearnTorch_ALL/Test/test.py
  VirtualAssistant/.gitattributes
  VirtualAssistant/.gitignore
Labels: LearnTorch

#27 [LearnTorch]Step38 -->> Step40
  LearnTorch_ALL/LearnTorch/Functions.py
  LearnTorch_ALL/LearnTorch/VariableFunction.py
  LearnTorch_ALL/LearnTorch/__pycache__/Functions.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/VariableFunction.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/utils.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/utils.py
  LearnTorch_ALL/Test/TestBackward.py
  LearnTorch_ALL/Test/TestBroadcastSumto.py
  LearnTorch_ALL/Test/TestSubNeg.py
  LearnTorch_ALL/Test/TestSum.py
  LearnTorch_ALL/Test/TestUnit3.py
  LearnTorch_ALL/Test/TestUnit4.py
Labels: LearnTorch

#31 [VirsualAssistant]探索页
  .gitignore
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/Pages/BeginChats.py
  VirtualAssistant/Pages/Explore.py
  VirtualAssistant/README.md
  VirtualAssistant/images/0.首页.PNG
  VirtualAssistant/images/1-1.计算图可视化.PNG
  VirtualAssistant/images/1.计算图可视化.PNG
  VirtualAssistant/images/4.创建助手.png
  VirtualAssistant/imgs/icon_learntorch.png
  VirtualAssistant/imgs/icon_virtualassistant.png
  VirtualAssistant/imgs/logo_learntorch(1).png
  VirtualAssistant/imgs/logo_learntorch.png
  VirtualAssistant/imgs/test_img.png
  prototypes/虚拟私人助手(Learn Torch).fig
Labels: VirsualAssistant

#32 [ALL]可视化更新
  LearnTorch_ALL/LearnTorch/__pycache__/VariableFunction.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/__init__.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/utils.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/utils.py
  LearnTorch_ALL/TeachImage/Grad/Gradient_LearningRate_lr0.001_iters200_FPS10.gif
  LearnTorch_ALL/TeachImage/Grad/Gradient_Overfit_lr0.2_iters200_FPS10.gif
  LearnTorch_ALL/TeachImage/Grad/Gradient_Underfit_lr0.001_iters200_FPS10.gif
  LearnTorch_ALL/TeachImage/Grad/Gradient_Wellfit_lr0.085_iters200_FPS10.gif
  LearnTorch_ALL/TeachImage/ShowGrad3D.py
  LearnTorch_ALL/TeachImage/ShowLearningRate.py
  LearnTorch_ALL/Test/Testplot2.py
  README.md
  VirtualAssistant/Pages/1_GraphVisual.py
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/README.md
  VirtualAssistant/Stream_litapps.py
  VirtualAssistant/imgs/0.首页.PNG
  VirtualAssistant/imgs/1.计算图可视化.PNG
Labels: Documentation, LearnTorch, VirsualAssistant

#38 更新前端页面创建助手+调整探索页面
  VirtualAssistant/LLM/History.json
  VirtualAssistant/Pages/4_CreateRobot.py
  VirtualAssistant/Pages/5_BeginChats.py
  VirtualAssistant/Pages/6_Explore.py
Labels: VirsualAssistant

#40 [VirtualAssistant]3D梯度下降可视化
  .gitignore
  LearnTorch_ALL/TeachImage/Grad/gradient_descent_rosenbrock.gif
  LearnTorch_ALL/TeachImage/ShowGrad3D.py
  LearnTorch_ALL/TeachImage/__pycache__/ShowGrad3D.cpython-39.pyc
  VirtualAssistant/Pages/0_HomePages.py
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/3_GradDownVisual.py
  VirtualAssistant/Pages/8_ShowLLM.py
  VirtualAssistant/Pages/BeginChats.py
  VirtualAssistant/Pages/Explore.py
  VirtualAssistant/Pages/GetVisualization.py
  VirtualAssistant/Pages/UploadFiles.py
  VirtualAssistant/Stream_litapps.py
  VirtualAssistant/imgs/nn105.png
  VirtualAssistant/imgs/nn1510.png
  VirtualAssistant/imgs/nn55.png
  VirtualAssistant/model_finetuning/Colab微调.md
  imgs/_iter_4229_lr_0.23_H1_10_H2_10.gif
Labels: VirsualAssistant

#43 [VirtualAssistant]完善探索页面+添加删、改、查的功能+修改创建助手页面
  .idea/.name
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/README.md
  VirtualAssistant/LLM/History.json
  VirtualAssistant/Pages/4_CreateRobot.py
  VirtualAssistant/Pages/5_BeginChats.py
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/imgs/ChatImgs/8682183.jpg
  VirtualAssistant/imgs/ChatImgs/屏幕截图 2024-04-30 184627.png
  VirtualAssistant/imgs/ChatImgs/屏幕截图 2024-12-13 171036.png
Labels: VirtualAssistant

#44 [VirtualAssistant]完善探索页面+创建助手页面+环境配置教程
  .idea/.gitignore
  .idea/Large_Model_From_None.iml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/data.py
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/model.py
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/test.py
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/train.py
  VirtualAssistant/.idea/vcs.xml
  VirtualAssistant/Configure_Environment/img.png
  VirtualAssistant/Configure_Environment/model.png
  VirtualAssistant/Configure_Environment/pytorch.png
  VirtualAssistant/Configure_Environment/qwen.png
  VirtualAssistant/Configure_Environment/transformers.png
  VirtualAssistant/LLM/History.json
  VirtualAssistant/Pages/10_Environment.py
  VirtualAssistant/Pages/4_CreateRobot.py
  VirtualAssistant/Pages/5_BeginChats.py
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/Pages/7_Colab.py
  VirtualAssistant/Pages/9_Modelscope.py
  VirtualAssistant/Stream_litapps.py
  VirtualAssistant/imgs/ChatImgs/63457470_p0.jpg
  VirtualAssistant/imgs/ChatImgs/img.png
  VirtualAssistant/imgs/ChatImgs/img_1.png
  VirtualAssistant/model_finetuning/Colab微调.md
  VirtualAssistant/model_finetuning/dataset/猫娘.json
  VirtualAssistant/model_finetuning/魔搭社区微调.md
Labels: VirtualAssistant

#45 完善了计算图可视化的教程
  VirtualAssistant/Pages/1_GraphVisual.py
  VirtualAssistant/imgs/GraphVisual/bizhide_jisuantu.png
  VirtualAssistant/imgs/GraphVisual/cuwudejisuantu.png
  VirtualAssistant/imgs/GraphVisual/dangqianchuanboliucheng.png
  VirtualAssistant/imgs/GraphVisual/ddechuanbo.png
  VirtualAssistant/imgs/GraphVisual/ddechuanbo2.png
  VirtualAssistant/imgs/GraphVisual/fanxiangchuanbodeshunxu.png
  VirtualAssistant/imgs/GraphVisual/functions_computation_graph.png
  VirtualAssistant/imgs/GraphVisual/fuzadejisuantu1.png
  VirtualAssistant/imgs/GraphVisual/o_t_i_computation_graph.png
  VirtualAssistant/imgs/GraphVisual/o_t_i_graph.png
  VirtualAssistant/imgs/GraphVisual/output_to_input.png
  VirtualAssistant/imgs/GraphVisual/zhengfan.png
  VirtualAssistant/imgs/GraphVisual/zhudaichuan.png
  VirtualAssistant/imgs/GraphVisual/微信图片_20241223201713.png
Labels: VirtualAssistant

#41 详细教程任务
  .gitignore
  VirtualAssistant/Pages/0_HomePages.py
  VirtualAssistant/Pages/1_GraphVisual.py
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/3_GradDownVisual.py
  VirtualAssistant/Pages/Explore.py
  VirtualAssistant/imgs/_iter_1000_lr_0.1_H1_5_H2_5.gif
Labels: VirtualAssistant

#46 [VirtualAssistant]Lizewei999
  LearnTorch_ALL/LearnTorch/__pycache__/Functions.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/VariableFunction.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/__init__.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/utils.cpython-39.pyc
  LearnTorch_ALL/Llama3/Transformer_From_Pytorch/MyTransformer.ipynb
  LearnTorch_ALL/TeachImage/Grad/gradient_descent_rosenbrock.gif
  LearnTorch_ALL/TeachImage/ShowGrad3D.py
  LearnTorch_ALL/TeachImage/__pycache__/ShowFit.cpython-39.pyc
  LearnTorch_ALL/TeachImage/__pycache__/ShowGrad3D.cpython-39.pyc
  LearnTorch_ALL/TeachImage/__pycache__/ShowLearningRate.cpython-39.pyc
  VirtualAssistant/LLM/__pycache__/Chat_reponse.cpython-39.pyc
  VirtualAssistant/Pages/10_Environment.py
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/Pages/8_ShowLLM.py
  VirtualAssistant/Stream_litapps.py
  VirtualAssistant/imgs/10_Environment/img.png
  VirtualAssistant/imgs/10_Environment/model.png
  VirtualAssistant/imgs/10_Environment/nvidia-smi.png
  VirtualAssistant/imgs/10_Environment/pytorch.png
  VirtualAssistant/imgs/10_Environment/qwen.png
  VirtualAssistant/imgs/10_Environment/transformers.png
  VirtualAssistant/imgs/8_ShowLLM_imgs/3B.PNG
  VirtualAssistant/imgs/8_ShowLLM_imgs/LLama3.2-3B-Instruct.png
  VirtualAssistant/imgs/8_ShowLLM_imgs/Qwen2.5-3B-Code.png
  VirtualAssistant/imgs/8_ShowLLM_imgs/Qwen2.5-3B-Instruct.png
  VirtualAssistant/imgs/8_ShowLLM_imgs/model_class.PNG
  VirtualAssistant/imgs/8_ShowLLM_imgs/name.PNG
  VirtualAssistant/imgs/8_ShowLLM_imgs/quantify.PNG
  VirtualAssistant/imgs/8_ShowLLM_imgs/show_model_name.PNG
  VirtualAssistant/imgs/_iter_1004_lr_0.1_H1_2_H2_2.gif
Labels: VirtualAssistant

#47 [VirtualAssistant]按要求添加新手教程部分
  .idea/Large_Model_From_None.iml
  .idea/misc.xml
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/3_GradDownVisual.py
Labels: VirtualAssistant

#48 [VirtualAssistant]重新修改了魔搭社区微调教程
  LearnTorch_ALL/LearnTorch/__pycache__/Functions.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/VariableFunction.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/__init__.cpython-39.pyc
  LearnTorch_ALL/LearnTorch/__pycache__/utils.cpython-39.pyc
  LearnTorch_ALL/TeachImage/__pycache__/ShowLearningRate.cpython-39.pyc
  VirtualAssistant/imgs/modelscope_images/image-20241224180708637.png
  VirtualAssistant/imgs/modelscope_images/image-20241224183229708.png
  VirtualAssistant/imgs/modelscope_images/image-20241224183606077.png
  VirtualAssistant/imgs/modelscope_images/image-20241224184007695.png
  VirtualAssistant/model_finetuning/魔搭社区微调.md
Labels: VirtualAssistant

#49 [VirtualAssistant]更新首页、学习率和迭代次数梯度下降可视化页面
  LearnTorch_ALL/Test/TestUnit4.py
  LearnTorch_ALL/Test/__pycache__/TestUnit4.cpython-39.pyc
  VirtualAssistant/Pages/0_HomePages.py
  VirtualAssistant/Pages/1_GraphVisual.py
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/3_GradDownVisual.py
  VirtualAssistant/Pages/Explore.py
  VirtualAssistant/Stream_litapps.py
  VirtualAssistant/imgs/0_HomePages/mind.PNG
  VirtualAssistant/imgs/1_GraphVisual/bizhide_jisuantu.png
  VirtualAssistant/imgs/1_GraphVisual/cuwudejisuantu.png
  VirtualAssistant/imgs/1_GraphVisual/dangqianchuanboliucheng.png
  VirtualAssistant/imgs/1_GraphVisual/ddechuanbo.png
  VirtualAssistant/imgs/1_GraphVisual/ddechuanbo2.png
  VirtualAssistant/imgs/1_GraphVisual/fanxiangchuanbodeshunxu.png
  VirtualAssistant/imgs/1_GraphVisual/functions_computation_graph.png
  VirtualAssistant/imgs/1_GraphVisual/fuzadejisuantu1.png
  VirtualAssistant/imgs/1_GraphVisual/o_t_i_computation_graph.png
  VirtualAssistant/imgs/1_GraphVisual/o_t_i_graph.png
  VirtualAssistant/imgs/1_GraphVisual/output_to_input.png
  VirtualAssistant/imgs/1_GraphVisual/pytorch_graph.PNG
  VirtualAssistant/imgs/1_GraphVisual/showgraph.png
  VirtualAssistant/imgs/1_GraphVisual/zhengfan.png
  VirtualAssistant/imgs/1_GraphVisual/zhudaichuan.png
  VirtualAssistant/imgs/2_Lr_Iters/lr.PNG
  VirtualAssistant/imgs/3_GradDownVisual/nn105.png
  VirtualAssistant/imgs/3_GradDownVisual/nn1510.png
  VirtualAssistant/imgs/3_GradDownVisual/nn55.png
  VirtualAssistant/imgs/_iter_1000_lr_0.1_H1_5_H2_5.gif
  VirtualAssistant/imgs/logo_learntorch_small.png
Labels: VirtualAssistant

#50 [VirtualAssistant]聊天界面最终版
  LearnTorch_ALL/TeachImage/__pycache__/ShowFit.cpython-39.pyc
  LearnTorch_ALL/TeachImage/__pycache__/ShowGrad3D.cpython-39.pyc
  VirtualAssistant/LLM/Chat_reponse.py
  VirtualAssistant/LLM/__pycache__/Chat_reponse.cpython-39.pyc
  VirtualAssistant/Pages/5_BeginChats.py
  VirtualAssistant/imgs/ChatImgs/2088-iqrhckn1901731.jpg
  VirtualAssistant/imgs/ChatImgs/img_2.png
  VirtualAssistant/imgs/ChatImgs/img_3.png
Labels: VirtualAssistant

#51 [VirtualAssistant]系统最终版
  README.md
  VirtualAssistant/LLM/History.json
  VirtualAssistant/LLM/__pycache__/Chat_reponse.cpython-311.pyc
  VirtualAssistant/Pages/2_Lr_Iters.py
  VirtualAssistant/Pages/4_CreateRobot.py
  VirtualAssistant/Pages/5_BeginChats.py
  VirtualAssistant/Pages/6_Explore.py
  VirtualAssistant/imgs/2_Lr_Iters/pic1.jpg
  VirtualAssistant/imgs/ChatImgs/甄嬛.jpg
  VirtualAssistant/imgs/VirtualAssistant_imgs/0_介绍.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/CUDA_env.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/chat.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/colab.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/exist.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/explore.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/search.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/start.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/update.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/warning.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/低参数大模型测评.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/创建助手.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/学习率和迭代次数可视化.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/安装教程.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/梯度下降可视化.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/计算图可视化.png
  VirtualAssistant/imgs/VirtualAssistant_imgs/魔搭.png
  imgs/规划思维导图.PNG
  requirements.txt
Labels: VirtualAssistant
